@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.button {
		@apply px-4 py-2 border rounded-full cursor-pointer hover:shadow-lg 
        active:scale-95 active:bg-gray-100 transition transform duration-100 ease-out;
	}
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
