  
 @import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

* {
  box-sizing: border-box;
}

body {
  background: rgb(255, 85, 85) !important;
  min-height: 100vh;
  font-family: 'Fira Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;

}

form{
    padding: 5%;
    background-color: white;
    width: 60vh;
    margin: auto;
    margin-top: 5%;
    border-radius: 10px;
}

.form-group{
  padding-bottom: 5%;
}

.custom-control-label {
  font-weight: 400;
}

.btn-primary {
    display: block;
    width: 100%;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}
