#titlestylem {
	display: flex;
	height: 50%;
	align-items: center;
	justify-content: center;
}

#titlestylep {
	cursor: pointer;
	position: relative;
	display: inline-block;
	font-size: 3rem;
	background: linear-gradient(
		to bottom,
		rgb(255, 255, 255),
		rgb(255, 255, 255) 60%,
		rgb(0, 0, 0) 60%,
		rgb(0, 0, 0) 100%
	);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	background-repeat: no-repeat;
	transition: background 0.2s ease-out;
	white-space: nowrap;
}

#titlestyles {
	position: relative;
}

#titlestyles:before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	height: 15px;
	background: rgb(255, 255, 255);
	bottom: 9px;
	transition: all 0.2s ease-out;
}

#titlestylep:hover {
	background-position: 0 11px;
}

#titlestyles:hover:before {
	transform: translateY(10px);
}
